.app {
    width: 25%;
}

/* For search */

.new-search {
  background-color: rgb(179, 174, 174);
  padding: 1rem;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}


.new-search_control label {
  font-weight: bold;
  font-size: larger;
  margin-bottom: 0.5rem;
  display: block;
  align-items: center;
}

.new-search_control {
    margin: 1rem auto;
}
.new-search_control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

.new-search_control select {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 20rem;
  max-width: 100%;
}

/* For result */

.result-list {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: rgb(179, 174, 174);
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
}

.result-list h1 {
  font-weight: bold;
  display: flex;
  
}

.result-list-short {
  display: flex;
  flex-wrap: wrap;
  padding: 1rem;
  background-color: rgb(179, 174, 174);
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  align-items: center;
  border-radius: 20px;
  justify-content: center;
}

.result-list-short h1 {
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
  }

/* For List Items */

.list-item {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  width: 95%;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 12px;
  background-color: #215ea0;
}

.list-item-specific {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 95%;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  padding: 0.5rem;
  margin: 1rem;
  border-radius: 12px;
  background-color: #215ea0;
}

.result-list-short {
  flex-wrap: wrap;
  padding: 1rem;
  background-color: rgb(179, 174, 174);
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  align-items: center;
  border-radius: 20px;
}

.name-container {
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  align-items: center;
  justify-content: center;
  width: 40%;
}

.code-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 5.5rem;
  height: 5.5rem;
  border: 1px solid #ececec;
  background-color: #b7721d;
  color: white;
  border-radius: 12px;
  align-items: center;
  justify-content: center;
}

.code-container h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1.5rem;
}

.code-container h2 {
  font-size: 0.85rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
